* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#greenbar {
    background-color: #009688;
    position: relative;
    width: 100vw;
    height: 15vh;
}

#app {
    position: absolute;
    height: 94vh;
    width: 80vw;
    left: 10vw;
    right: 10vw;
    top: 3vh;
    bottom: 3vh;
}

#contacts-container {
    height: 100%;
    border-right: 1px solid lightgray;
}

/*PROFILE BAR*/

#profile-bar {
    background-color: #EAEAEA;
    height: 10%;
}

#profile-bar p, #profile-bar i {
    margin-top: 13px;
    margin-bottom: 10px;
}

#profile-bar i {
    color: #B1B1B1;
    font-size: 15pt;
    font-weight: bold;
}

img[alt="pfp"] {
    height: 50px;
    border-radius: 50%;
}

/*NOTIFICATIONS BAR*/

#notifications-bar {
    background-color: #8EDAFC;
    height: 12%;
}

.fa-bell-slash {
    color: #8EDAFC;
    background-color: #fff;
    padding: 14px 12px 14px 13px;
    border-radius: 50%;
    font-size: 15pt;
}

#notifications-link {
    color: darkgray;
}

/*SEARCH BAR*/

#search-bar {
    background-color: #F9F9F9;
    height: 5%;
}

.fa-magnifying-glass {
    color: darkgray;
}

/*CONTACT BAR CONTAINER*/

#contact-bar-container {
    height: 73%;
    background-color: #F9F9F9;
    overflow: scroll;
}

/*CONTACT BAR*/

.contact-bar {
    border-bottom: 1px solid lightgray;
    height: 75px;
}

.contact-bar:hover {
    cursor: pointer;
    background-color: rgb(232, 230, 230);
}

/*CHAT CONTAINER*/

.grey-subtitle {
    color: darkgray;
    font-size: 11px;
    display: block;
}

#chat-profile-bar {
    background-color: #EAEAEA;
    height: 10%;
}

#chat-profile-bar i {
    color: #B1B1B1;
    font-size: 15pt;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 10px;
}

#chat-profile-bar p {
    margin-top: 5px;
    margin-bottom: 10px;
}

#chat-messages-container {
    height: 83%;
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}

/*MESSAGES CONTAINER*/

.msg{
    padding: 10px;
    border-radius: 10px;
    font-size: 11pt;
}
  
.sent {
    width: 250px;
    background-color: #D6F9BA;
    margin-bottom: 5px;
    left: 57%;
}
  
.received {
    width: 250px;
    background-color: #fff;
    margin-bottom: 5px;
}
  
.msg-text{
    word-break: break-all;
    width: 90%;
}
  
.msg-time{
    color: darkgray;
    font-size: 8pt;
    margin-left: 120px;
}

/*MESSAGE BAR*/

#chat-message-bar {
    background-color: #F3EEEA;
    height: 7%;
}

#chat-message-bar i {
    color: #B1B1B1;
    font-size: 15pt;
    font-weight: bold;
    margin: 17px auto auto 10px;
}